<div class="font">
  <%= link_to "新規投稿", new_article_path ,class: :font %><br />

  <% @articles.each do |article| %>
    <%= link_to article.user.nickname, article_path(article.id), class: :font %>
    <%= link_to article.post, article_path(article.id), class: :font %><br />
    <%# <%= link_to image_tag(article.image), articles_path(article.id) %>
  <% end %>
</div>

  <%# メイン %>
<html>
  <body>        
    <main class="main">
      <div class="box">
        <ul class="list_post">
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>

          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>          
    </main>
  </body>
</html>
