<div class="main-article">
  <div class="article-post">
    <%= link_to "新規投稿", new_article_path ,class: :font %><br /></div>
  
    <% @articles.each do |article| %>
      <%= link_to image_tag(article.image.variant(resize: '480x480')), article_path(article.id) %>
    <% end %>
  </div>
</div>