<!DOCTYPE html>
<html>
  <head>
    <title>basaball_note</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# リセットCSSを指定 %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%# メイン %>
  <body>        
    <main class="main">
      <div class="box">
        <ul class="list_post">
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>

          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
          <li>
            <article>
              <div class="thumb"></div>
              <div class="layout">
                <div class="eye_catch">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <p class="title">タイトルがここに記載されます</p>
                  <p class="user">ユーザー名</p>
                  <p class="comment">コメント</p>
                  <p class="good">イイね</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>          
    </main>
  </body>
</html>


