/* 記事一覧ページ */
.main-article {
  background-color: rgb(242, 248, 236);
  flex: auto;
  flex-wrap: wrap;
  min-width: 10px;
  width: 33%;
}




/* 新規投稿ページ */
.account-page {
  background-color: rgb(242, 248, 236);
  flex: auto;
  min-width: 10px;
  padding: 0 0 0 70px;
}

.account-page .account-page__inner {
  background-color: rgb(242, 248, 236);
  flex: auto;
  min-width: 10px;
  padding: 0 0 0 70px;
}

.field {
  color: #29c4a0;
}

.account-page input[type=text] {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border: none;  
}

.account-page input[type=password] {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border: none;
}

.account-page textarea {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 100%;
  height: 80px;
  border: none;
}

.account-page input[type=submit] {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  color: #29c4a0;
  font-size: 20px;
  width: 15%;
  height: 40px;
  border: none;
  cursor:  pointer;
}
