/* ヘッダー・サイドバー */
body {
  margin: 0;
  padding: 0;
  background: url(bg_body.gif) repeat; /* 背景画像(白の1x1) */
  background-attachment: fixed;
}

.layout_page{
  display: flex;
} 

a {
  color: #F4F5F7;
  text-decoration: none;
}

a.comment_user {
  color: #29c4a0;
  padding: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 100px;
  cursor:  pointer;
}

a.font {
  color: #F4F5F7;
  background-color: #29c4a0;
  border: 3px , solid,#29c4a0 ;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 100px;
  cursor:  pointer;
}

.header {
  z-index: 2;
  background-color: #29c4a0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.container{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo_header .logo {
  display: block;
  text-align: center;
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: #3ad6b2;
  background-color: #F4F5F7;
}


.sidebar {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
  width: 240px;
  background-color: #3ad6b2;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar .box {
  padding: 50px 0;
}

.sidebar .box + .box {
  border-top: 1px solid #F4F5F7;
}

.area_register_sidebar a {
  font-size: 22px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 0 0 10px;
}

.list_nav_sidebar a {
  font-size: 22px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 0 0 10px;
}

.main {
  width: 100%;
  z-index: 1;
  background-color: rgb(242, 248, 236);
  min-width: 10px;
}
