/* トップページ */
.top-wrapper {
  text-align: center;
  font-size: 25px;
  color: cornsilk;

}

.top-page {

  background-image: url(top.jpeg);
  background-size:  cover;
  width: 1424px;
  height: 100vh;

}
