/* 新規登録画面・ログイン画面 */
h2 {
  color: #29c4a0;
  margin-top: 20px;

}

.account-page {
  background-color: rgb(242, 248, 236);
  flex: 700px;
  min-width: 10px;
  padding: 0 0 0 70px;
}

.field {
  color: #29c4a0;
}

.account-page input[type=text] {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 700px;
  height: 40px;
  border: none;
}

.account-page input[type=password] {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 700px;
  height: 40px;
  border: none;
}

.account-page input[type=email] {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 700px;
  height: 40px;
  border: none;
}

.account-page textarea {
  padding: 0 0 0 30px;
  margin-bottom: 15px;
  color: #29c4a0;
  font-size: 20px;
  width: 700px;
  height: 80px;
  border: none;
}

.account-page input[type=submit] {
  margin-bottom: 15px;
  text-align: center;
  color: #29c4a0;
  font-size: 20px;
  width: 30%;
  height: 40px;
  border: none;
  cursor:  pointer;
}

/* ユーザー詳細ページ */
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  color: #F4F5F7;
  text-align: left;
  font-weight: bold;
  background: #3ad6b2;
  border-collapse: collapse;
  border: 1px solid #F4F5F7;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #3ad6b2 ;
  background: #fafafa;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}